{% extends "base.html" %}

{% block content %}

    
    <div class="container">

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Cyber_Security</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>
        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s1.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="H_S.jpg">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Cyber Security</h4>
                    </div>

                    <div class="phone">
                        420420402402
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skills" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React.JS</span>
                <span class="skill">Node.JS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>
    </div>
        
    {% endblock %}
