{% extends "base.html" %}


{% block content  %}


    
    <div class="container">

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="/media/{{student.image}}" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="enrlno">
                        GL6182
                    </div>

                    <div class="email">
                      
                        vader0079@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skillheading" >
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React,</span>
                <span class="skill">NodeJS,</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="theportfolio/media/upload/h_siddiqui.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Hannan Siddiqui</h4>
                    </div>

                    <div class="enrlno">
                        +91-7055948793
                    </div>

                    <div class="email">
                        hannansiddiqui774@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#">linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skillheading" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python</span>
                <span class="skill">java</span>
                <span class="skill">cpp</span>
                <span class="skill">c</span>
                <span class="skill">django</span>
                <span class="skill">JavaScript</span>
                <span class="skill">React</span>
                <span class="skill">Node</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>

        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="s.jpg" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>Darth Vader</h4>
                    </div>

                    <div class="enrlno">
                        +91-7055948793
                    </div>

                    <div class="email">
                        hannansiddiqui774@@gmail.com
                    </div>

                    <div class="linkedin">
                        <a href="#"> linkedinprofile</a>
                    </div>

                </div>
            </div>

            <span class="skillheading" class="heading">
               <h4>SKILLS</h4>
            </span>
            <div class="skills">
                <span class="skill">python,</span>
                <span class="skill">java,</span>
                <span class="skill">cpp,</span>
                <span class="skill">c,</span>
                <span class="skill">django,</span>
                <span class="skill">JavaScript,</span>
                <span class="skill">React.JS</span>
                <span class="skill">Node.JS</span>
                <span class="skill">SpringBoot</span>
            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>


        {% for student in list %}
        
        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="/media/{{ student.image }}" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>{{student.name}}</h4>
                    </div>

                    <div class="enrlno">
                        {{student.enrlno}}
                    </div>

                    <div class="email">
                        {{student.email}}
                    </div>

                    <div class="linkedin">
                        <a href="#"> {{student.linkedin}}</a>
                    </div>

                </div>
            </div>

            <span class="skillheading" class="heading">
               <h4>SKILLS</h4>
            </span>

            <div class="skills">

                {% for skill in student.skills %}
                <span class="skill">{{skill}}</span>
                {% endfor %}
            

            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>


        {% endfor %} 

    </div>

    {% endblock  %}
        

