{% extends "base.html" %}



{% block content %}

<h1> your profile  {{user.username}}<h1>

    <div class="container">
        {% for student in list %}
        {% if student.email == user.email %}
        
        <div class="students-detail">
            <div class="photo-info">
                <div class="photo">
                    <img src="/media/{{ student.image }}" alt="420 not found">
                </div>

                <div class="info">

                    <div class="name ">
                        <h4>{{student.name}}</h4>
                    </div>

                    <div class="enrlno">
                        {{student.enrlno}}
                    </div>

                    <div class="email">
                        {{student.email}}
                    </div>

                    <div class="linkedin">
                        <a href="#"> {{student.linkedin}}</a>
                    </div>

                </div>
            </div>

            <span class="skillheading" class="heading">
               <h4>SKILLS</h4>
            </span>
            
            <div class="skills">

                {% for skill in student.skills %}
                <span class="skill">{{skill}}</span>
                {% endfor %}
            

            </div>
            <a class="view" href="#">
                   view more 
            </a>
        </div>
        
        {% endif %}

        {% endfor %} 

    </div>

{% endblock  %}
