{% extends "base.html" %}


{% block content %} 
<link href = '/static/studentform.css' rel='stylesheet'>
<style>
  
  .container{
    margin-top: 20px;
  }

  @media only screen and (max-width: 599px){

    .studentform{
      width: 400px;
    }

    input{
      width:100%;
    }

  }
  

</style>

<div class="container">

<div class="studentform">

    <form method="post">
      {% csrf_token %}

      
        <input type="text" id="name" placeholder="name" name='name'  required>
        <input type="text" placeholder="roll no" id="rollno" name = 'rollno' required>
        <input type="text" placeholder="enroll no " id="enrlno" name='enrlno' required >
        <input type="text" placeholder="course" id="course" name='course' required>
        <input type="text" id="phone" placeholder="phone" name='phone' required>
        <input type="email" id="email" placeholder="email" name='email' required>
        <input type="text" id="linkedin" placeholder="linkedin" name='linkedin' required>
        <input type="text" id="github" placeholder="github" name='github' required>
        <input type="text" id="insta" placeholder="instagram " name='insta' >
        <input type="text"  id="desc" placeholder="about yourself.." name='desc' required>
        <input type="text" id="skills" placeholder="add skills" name='skills' required>
        <input type="file" id="image"  name='image' required> 
      
        
        <button class="button" type="submit"> Submit </button>
      </form>
</div>
</div>
        
{% endblock  %}