<div class="studentform">

    <form method="post">
      {% csrf_token %}
        <input type="text" placeholder="course" id="course" required>
        <input type="text" placeholder="enrl  no " id="enrlno" required >
        <input type="file" id="image" accept="image/png, image/jpeg" required>
        <input type="text" id="name" placeholder="name" required>
        <input type="text" id="phone" placeholder="phone" required>
        <input type="email" id="email" placeholder="email" required>
        <input type="text" id="linkedin" placeholder="linkedin" required>
        <input type="text" id="skills" placeholder="add skill" required>
        <button type="submit"> Submit </button>
      
</form>